//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";
$prefix: do- !default;
$baseFontSize: 16px;
$baseFontFamily: "Poppins", sans-serif;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$semiBoldFontWeight: 600;

$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;

// Paths

$i: "../i/";

// Colors
$backgroundGrey: #f8f9fa !default;
$attentionRed: #f20231 !default;
$backgroundBlue: #2c2b49 !default;
$textWhite: #ffffff !default;
$textGrey: #333333 !default;
$textLighterGrey: #777777 !default;
$priceGrey: #6F6F6F !default;
$priceLighterGrey: #999999 !default;
$borderGrey: #e2e2e2 !default;

$colors: (
  "backgroundGrey": $backgroundGrey,
  "attentionRed": $attentionRed,
  "backgroundBlue": $backgroundBlue,
  "textWhite": $textWhite,
  "textGrey": $textGrey,
  "textLighterGrey": $textLighterGrey,
  "priceGrey": $priceGrey,
  "priceLighterGrey": $priceLighterGrey,
  "borderGrey": $borderGrey,
) !default;
