html {
  @include getCssVar(font-size);
  scroll-behavior: smooth;
}

body {
  @include getCssVar(font-family);
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 12px;
}
