.map {
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(56, 56, 56);
    width: 600px;
    height: 600px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    background-color: $textWhite;
    @include e (button) {
        & a {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: rem(35px);
        color: $backgroundBlue;
        }
    }
}
#map {
    margin: 50px auto;
    height: 500px;
    width: 500px;
}