.top-categories {
    @include e (image) {
        & img {
            object-fit: cover;
            border-radius: 5px; 
            width: 100%;
            max-width: 100%;
            height: 290px;
        }
        @include m (gaming) {
            & img {
                height: 100%;
            }
        }
    }
}